.kifisome {
  a {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    background-color: white;
  }

  svg {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0;
    transition: border-radius 0.2s;

    &:hover {
      opacity: .7;
    }

    &:active {
      border-radius: 30%;
    }
  }
}
